@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-image: url("./assets/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Change Autocomplete styles in Chrome */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* stylelint-disable */
  -webkit-text-fill-color: #424;
  -webkit-box-shadow: 0 0 0 1000px #eee inset;
  /* stylelint-enable */
  box-shadow: 0 0 0 1000px #eee inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* stylelint-disable */

.ant-breadcrumb-separator {
  margin: 0;
}

.ant-rate-star-first,
.ant-rate-star-second {
  color: rgba(108 104 69 / 60%);
}
  /* stylelint-enable */
