.label {
  position: relative;
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.input {
  width: 100%;
  height: 50px;
  margin: 7px 0;
  padding: 15px;
  border: 1px solid #c9cacc;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #fff;

  &:focus,
  &:active {
    outline: none;
  }
}

.error {
  position: absolute;
  bottom: -10px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.errorColor {
  color: #eb1717;
}
